@mixin font($size:null, $height:null, $family:null, $color:null) {
	font-size: $size;
	line-height: $height;
	font-family: $family;
	color: $color;
}


h1 {
	@include font(86px, 103px, "GeorgiaRegular", #000000);
}

h2 {
	@include font(36px, 36px, "GeorgiaRegular", #000);
}

h3 {
	@include font(26px, 31px, "GeorgiaRegular", #333333);
}

h4 {
	@include font(16px, 19px, "GeorgiaRegular", #989898);
}

h5 {
	@include font(14px, 16px, "GeorgiaRegular",  #878787);
}

body {
	@include font(12px, 19.2px, "GeorgiaRegular", #888);
}


a:active, a:focus, a:hover {text-decoration: none}

.text-left {text-align: left}

.text-center {text-align: center}

.text-right {text-align: right}

input[type="text"], input[type="email"], input[type="search"], textarea {
	border: none;
	outline: none;


	&::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
	&::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
	&:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
	&:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
	&:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
	&:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
	&:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
	&:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
}

input[type="submit"], button[type="submit"] {
	border: none;
	outline: none;
}

a {
	text-decoration: none;
}



/********************************************************** TOPBAR **********************************************************/

	section#topBar {
		background-color: #ba2e1f;

		ul#menu {padding: 0px; margin:20px auto;}

		ul#menu li {
			display: inline; 
			color: #fff;

			a {
				@include font(12px, 14.4px, "GeorgiaRegular", #fff);
				opacity: 1;
				-webkit-transition: opacity 0.5s;
				-o-transition: opacity 0.5s;
				transition: opacity 0.5s;
					
					&:hover {opacity:0.7;};
			}

		}

		div.searching {
			border: none;
			max-height: 30px;
			margin: 15px 0 15px auto;
			background-color: #fff;
			border-radius: 45px;

				input[type="search"] {
					max-height: 28px;
					height: 35px;
					border-radius: 45px 0px 0px 45px; 	
				}

				button[type="submit"] {
					
					background-color: #ba2e1f;
					padding: 2px;
					width: 24px;
					height: 24px;
					margin: 1px 5px 0px 0px;
					border-radius: 15px;
					@include font(14px, $color: #fff);
					-webkit-transition: background 0.3s ease-in-out;
					-o-transition: background 0.3s ease-in-out;
					transition: background 0.3s ease-in-out;
						&:hover {
							background-color: #9f2619;
						};
				}
			}
	}

/********************************************************** HEADER **********************************************************/

	header {

		h2 {
			margin: 40px auto 0px auto;
		}

		p {
			@include font($color:#000000);
			margin: 10px auto 35px auto;
		}

		ul#social {
			padding: 0px;
			margin: 45px auto;

				li {
					display: inline;

						a {
							color: #333333;
							-webkit-transition: color 0.5s ease-out;
							-o-transition: color 0.5s ease-out;
							transition: color 0.5s ease-out;

								&:hover {
									color: #ee802f;
								};
						}
				}
		}
	}

/********************************************************** NAV **********************************************************/

	nav {

		div.row {
			background: linear-gradient(to bottom, #333333, #2b2b2b);
			margin: 0px auto 25px auto;
			border-radius: 5px;
			max-width: 1140px;
		}


		ul#navigation, ul#navigationXS {
			text-align: center;
		}
		

			ul#navigation {
				padding: 15px 60px;
				margin: 0px auto;

					li {
						display: inline;
						margin-right: 25px;

							a {
								text-transform: uppercase;
								@include font(12px, 12px, "GeorgiaRegular", #fff);
								font-weight: bold;
								-webkit-transition: color 0.2s;
								-o-transition: color 0.2s;
								transition: color 0.2s;

									&:hover {color: #ba2e1f};
							}

					}
			}


			button#showMenu {
				border: none;
				outline: none;
				display: block;
				padding: 10px;
				width: 100%;
				max-width: 100%;
				@include font(16px, 18px, "GeorgiaRegular", #fff);
				background-color: transparent;
				-webkit-transition: color 0.3s ease-in-out;
				-o-transition: color 0.3s ease-in-out;
				transition: color 0.3s ease-in-out;
					&:hover {
						color: #b92d1f;
					};
			}

			ul#navigationXS {
				display: none;
				padding: 0px;
				margin: 10px auto;

					li {
						list-style-type: none;
							a {
								display: block;
								text-transform: uppercase;
								@include font(12px, 12px, "GeorgiaRegular", #fff);
								font-weight: bold;
								padding: 10px;
								-webkit-transition: color 0.2s;
								-o-transition: color 0.2s;
								transition: color 0.2s;

									&:hover {
										color: #ba2e1f;
										background-color: #e5d6bd;
									};
							}
					}

					li#socialXS {
						margin-top: 10px;
						a {
							display: inline;
							color: #000;
								&:hover {
										color: #ba2e1f;
										background-color: transparent;
									};
						}
					}
			}


	}

/********************************************************** INTRO **********************************************************/

	section#intro {
		img {
			width: 100%; 
			height: auto;
			max-height: 440px;
			max-width: 400px;
			margin-bottom: 30px;
		}

		h1 {
			max-width: 600px; 
			margin: 110px auto 20px auto;
		}

		p {
			@include font(16px, 23px, $color:#666666);
			max-width: 550px;
		}

		a {
			@include font(16px, 16px, $color: #ba2e1f);
			text-transform: uppercase;
			-webkit-transition: opacity 0.3s ease-in-out;
			-o-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;

				&:hover, &:active, &:focus {
					opacity: 0.7;
				};
		}
	}

/********************************************************** CONTENT **********************************************************/

	section#content {
		background-color: #f2f2f2;

			h3 {
				margin: 50px auto;
			}

			h5 {
				margin: 0px auto;

			}

			img[alt="About Us"] {
				border: 1px solid #dfdfdf;
				padding: 4px;
				width: 100%;
				height: auto;
				max-width: 290px;
				max-height: 140px;
				margin: 0 auto;
				display: block;
			}

			img[alt="services"] {
				margin-bottom: 30px;

			}

			p {
				
				@include font(13px, 21px);
				text-align: justify;
			}

			h5+p {
				margin: 8px auto 8px 0px;
				max-width: 210px;
			}


			p.aboutUs {
				max-width: 280px;
				margin: 15px auto;
			}
			
			a {

				@include font(13px, $color: #b92d1f);
				display: block;
				text-align: right;
				margin: 0px 0px 40px auto;
				-webkit-transition: opacity 0.3s ease-in-out;
				-o-transition: opacity 0.3s ease-in-out;
				transition: opacity 0.3s ease-in-out;
					&:hover {
						opacity: 0.7;
					};
			}
			
			a:nth-child(odd) {

				margin: 40px 40px 40px auto;

			}

			a:hover, a:active, a:focus {
				text-decoration: none;
					};
	}

/********************************************************** FOOTER **********************************************************/

	footer {
		a {
			color: #b92d1f;
			-webkit-transition: opacity 0.3s ease-in-out;
			-o-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;
			&:hover {opacity: 0.7;};
		}

		h4 {
			margin: 50px auto 30px auto;
			padding-top: 25px;
			border-top: 1px solid #666666;
			text-align: center;
		}

		p {

			@include font($height: 20px);
			
			a {
				@include font($color: #b92d1f);
			}
		}
		ul {
			padding: 0px;

			li {
				line-height: 28px;
				list-style-image: url("../images/listarrow.gif");
				list-style-position: inside;
				border-bottom: 1px solid #d4d4d4;

				a {
					color: #666666;					
				}
			}
		}

		h5 {
			@include font($color: #666666);
			margin: 0 auto 10px auto;
		}
		
		p {
			@include font(14px, 16px, $color: #666666);
				
				a:hover, a:active, a:focus {
					text-decoration: none;
				};
		}

		p+a {
			text-align: right;
			display: block;
			color: #b82c1f;
		}

		div.postTitle {
			margin-top: 10px;
		}

		form {
			margin-bottom: 20px;

			input[type="text"], input[type="email"] {
				@include font(13px, 21px, $color:#989898);
				padding: 10px;
				max-width: 270px;
				width: 100%;
				border-radius: 10px;
				background-color: #f2f2f2;
			}

			input[type="email"] {
				margin: 10px auto;
			}

			textarea {
				padding: 10px;
				max-width: 270px;
				width: 100%;
				border-radius: 10px;
				background-color: #f2f2f2;
				margin: 10px auto;
				resize: none;
			}

			input[type="submit"] {
				@include font(13px, 21px, $color: #ba2e1f);
				padding: 11px 15px;
				text-transform: uppercase;
				background-color: #f2f2f2;	
				border-radius: 5px;
				display: block;
				margin-left: auto;
				-webkit-transition: background 0.5s ease-in-out;
				-o-transition: background 0.5s ease-in-out;
				transition: background 0.5s ease-in-out;

					&:hover {
						background-color: #dddbdb;
					};
			}
		}

		
	}
